/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Show it is fixed to the top */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	padding-top: 4.5rem;
	min-width: 20rem;
	min-height: 100%;
	margin: 0;
	padding-bottom: 40px;
    position: relative;
}

.footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	color: rgba(255,255,255,.5);
}

.clickable {
	cursor: pointer;
}

.not-clickable {
	cursor: default;
}

.not-allowed {
	cursor:not-allowed !important;
}

.tooltip-inverted .tooltip-inner{
	background-color: white;
	color: #212529;
}
.tooltip-inverted.bs-tooltip-right .arrow:before {
	border-right-color: white;
}
.tooltip-inverted.bs-tooltip-left .arrow:before {
	border-left-color: white;
}
.tooltip-inverted.bs-tooltip-bottom .arrow:before {
	border-bottom-color: white;
}
.tooltip-inverted.bs-tooltip-top .arrow:before {
	border-top-color: white;
}
.tooltip-inverted.bs-tooltip-right .arrow:before ,
.tooltip-inverted.bs-tooltip-left .arrow:before ,
.tooltip-inverted.bs-tooltip-bottom .arrow:before ,
.tooltip-inverted.bs-tooltip-top .arrow:before {
	color: white;
}

#mainContent {
	margin-bottom: 50px;
}

.second-bar {
	margin-top: 3.5rem;
	z-index: 100;
}

.searchbar {
	padding-bottom: 1.25rem;
}

.project-thumbnail {
	padding: 1rem;
	min-width: 6rem;
	max-width: 10rem;
}
.project-small-thumbnail {
	width: 100%;
}
.project-small-thumbnail img{
	width: 100%;
	height: 100%;
}
.project-thumbnail-background {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 30px);
	height: 100%;
	background: #59A9FF;
}
.project-thumbnail-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(0.7 * (100% - 30px));
	height: 70%;
	background: #007bff;
	border: 2px white solid;
	border-radius: 20%;
}
#project-thumbnail-letter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 3em;
}

.tab-card {
	border-top:	0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.text-card {
	padding: .5rem .75rem;
}
.text-card .card-block {
	padding: 0;
}

#userMenuDropdown {
	left: initial;
	right: 0;
}
.testCaseLine, .testSequenceLine, .projectLine, .versionLine, .clickIcon, [type=button] { /*.groupLine*/
	cursor: pointer;
}

.testCaseLine:hover, .testSequenceLine:hover {
	background-color: #eeeeee;
}

.checkbox-list-element {
	margin-bottom: 0;
}

.checkbox input[type="checkbox"]
{
    margin-right: 5px;
}

#hour-plus, #minute-plus, #hour-minus, #minute-minus {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 17.5px;
	border-left: 0;
	border-right: 1px rgba(0, 0, 0, 0.15) solid;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#hour-plus, #minute-plus {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0;

}
#hour-minus, #minute-minus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0.25rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

abbr[title] {
	border-bottom: none !important;
	text-decoration: none !important;
}

ol[class*="list-group"] {
	list-style: decimal inside;
}

ol[class*="list-group"]>.list-group-item {
	display: list-item;
}

.action-bar {
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.tab-side-bar {
	border-left: 1px solid rgba(0,0,0,.125);
}
.tab-side-bar-row {
	margin-left: 0;
	margin-right: 0;
}

.list-line-item {
	float: right;
}


.help-modal-button {
	width: 44px;
}

.button-help {
	min-height: 50px;
}

.search-field {
	max-width: 300px;
}

.help-table td {
	vertical-align: middle;
	height: 40px;
}
.help-table {
	border-collapse: separate;
	border-spacing: 10px;
}

@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1140px !important;
	}
}

@media (max-width: 767px) {
	.mobile-full-width {
		margin-left: -15px;
		margin-right: -15px;
	}
	.mobile-full-width > div > .card {
		border: 0;
		border-radius: 0;
	}
}



@media (min-width: 813px) {
	#more,
	.mobile-full-width > ul > li > div > .show-1 {
		display: none;
	}
}
@media (max-width: 812px) {
    .mobile-full-width > ul > .hide-1 {
        display: none;
    }
	#more,
    .mobile-full-width > ul > li > div > .show-1 {
        display: block;
    }
 }


@media (min-width: 676px) {
	.mobile-full-width > ul > li > div > .show-2 {
		display: none;
	}
}
@media (max-width: 675px) {
    .mobile-full-width > ul > .hide-2 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-2 {
        display: block;
    }
}


@media (min-width: 576px) {
	.mobile-full-width > ul > li > div > .show-3 {
		display: none;
	}
}
@media (max-width: 575px) {
    .mobile-full-width > ul > .hide-3 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-3 {
        display: block;
    }
}


@media (min-width: 435px) {
	.mobile-full-width > ul > li > div > .show-4 {
		display: none;
	}
}
@media (max-width: 434px) {
    .mobile-full-width > ul > .hide-4 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-4 {
        display: block;
    }
}


@media (min-width: 329px) {
	.mobile-full-width > ul > li > div > .show-5 {
		display: none;
	}
}
@media (max-width: 328px) {
	.mobile-full-width > ul > .hide-5 {
		display: none;
	}
	.mobile-full-width > ul > li > div > .show-5 {
		display: block;
	}
}